<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="csb_repo" value="https://repo.csb.gov.tr/repository/prod-nuget-group/index.json" protocolVersion="3"/>
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="csb_repo">
      <package pattern="CSB.*" />
      <package pattern="HasarTespit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>