@{
    ViewData["Title"] = "Yerinde Dönüşüm - Kentsel Dönüşüm Başkanlığı";
}

<div class="banner">
	<div class="container">
		<div class="title justify-content-center">
			<h3>Nasıl Başvurulur?</h3>
		</div>
	</div>
</div>
<div class="page-content">
	<div class="container">
		<div class="page-text text-center">
			<p>06.02.2023 tarihli deprem afeti nedeniyle yapısı hasar gören malikler yeni yapacakları yapılarına ilişkin yapı ruhsatı alındıktan sonraki bir yıl içerisinde hibe ve kredi başvurusunda bulunabilir.</p>
			<p>Son Yapı Ruhsat Tarihi: 30.06.2025</p>
			<p>İmar ve Kentsel Dönüşüm Alan çalışmalarından dolayı gecikenler için: 31.08.2025</p>
			@*<img src="~/storage/nasil-basvurulur.png" />*@
		</div>
		<div class="mt-2 d-flex align-items-center justify-content-center">
			<a data-fancybox="proje-videosu" href="" data-caption="Nasıl Başvurulur">
				<div class="position-relative overflow-hidden imaj-hover">
					<div class="position-absolute w-100 h-100 start-0 top-0 bg-black opacity-25 z-index-up"></div>
						<div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center z-index-up">
						</div>
					@*<img class="img-fluid w-100 imaj efekt" src="storage/brosur1.png">*@
				</div>
			</a>
		</div>
	</div>
</div>