@{
    ViewData["Title"] = "Sıkça Sorulan Sorular | Yerinde Dönüşüm - Kentsel Dönüşüm Başkanlığı";
}

<div class="banner">
    <div class="container">
        <div class="title">
            <h3>Sıkça Sorulan Sorular</h3>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
            <input id="tb_search" type="text" class="form-control" placeholder="Ara" />
            <div class="accordion" style="margin-top:15px;" id="sssDiv"> </div>
    </div>
</div>