@using System.Security.Claims
@using Csb.YerindeDonusum.WebApp.Utilities.Helpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Bina Bazlı Oran Raporu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var url = Configuration.GetValue<string>("PowerBi:Url")?.TrimEnd('/');
    var userName = Configuration.GetValue<string>("PowerBi:Username")?.TrimEnd('/');
    var password = Configuration.GetValue<string>("PowerBi:Password")?.TrimEnd('/');
    var powerBiUrl = "https://" + userName + ":" + password + "@" + url;
}
<div class="app-container container-fluid" style="height: 97%;object-fit: contain;">
    <div class="card mb-5 mb-xl-8" style="height: 100%;">
        <div class="card-header">
            <h3 class="card-title">Yapı Ruhsat Raporu</h3>
        </div>
        <div class="card-body py-2 px-6">
            <div id="chart_yapi_ruhsat" style="height: 100%;">
                <iframe style="width:100%;height:100%" src="@powerBiUrl"></iframe>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/admin/metronic/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            startLoader("#kt_app_main");

            Request("/admin/rapor/GetirListeYapiRuhsat", null, 'GET')
                .done(function (response) {
                    stopLoader("#kt_app_main");

                })
                .fail(function (jqXHR, textStatus) {
                    stopLoader("#kt_app_main");
                    toastr.error(getAjaxErrorMessage(jqXHR));
                });
        });
    </script>
}